- var revealLocation = 'bower_components/reveal.js/'
doctype html
html(lang="en")

  include bower_components/RevealJade/shared/slide_mixins

  include bower_components/RevealJade/shared/head

  link(rel='external' type='text/html' src="bower_components/RevealJade/shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "RequireJs and ReactJS", subtitle: "Cause Angular Scares me"})
        +slideGroup
          +bigTitleSlide("RequireJS")
            p A problem to solve JIT
          +slide
            //- File and Module Loader (app.js)
            include code/requirejs_config
          +slide
            //- What does tue Usage look like
            include code/requirejs_usage
          +bigTitleSlide("CommonJS")
            p AOT...Kinda



    include bower_components/RevealJade/shared/footer